.tit{
 background-color: #82542d;
  overflow: hidden;
}
.topnav {
  background-color: #1e251d;
  overflow: hidden;
}

.topnav a:hover {
  background-color: #82542d;
  color: black;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 26px;
  font-size: 17px;
}

.h-alu{
font-size: 40px;
color:black;
text-decoration-line: underline;
}

.p-alu
{
font-size: 20px;
}